In [2]:
import nltk
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv("../data/postimees.txt", sep="\t", names=['website', 'id', 'datetime', 'title', 'share_count', 'comment_count', 'read_count', 'author', 'section', 'content'])
data = data.drop_duplicates(subset=['id'])
data = data.drop(columns=['website', 'section', 'content'])

data['comment_count'] = pd.to_numeric(data['comment_count'],errors='coerce')
data['read_count'] = pd.to_numeric(data['read_count'],errors='coerce')
data['share_count'] = pd.to_numeric(data['share_count'],errors='coerce')

data.head()

,id,datetime,title,share_count,comment_count,read_count,author
0,6839008,2019-11-30T13:50:49+02:00,Tänavatantsijad tõid Leedu võistluselt Tartuss...,0.0,0,14,{'Lenel Karu'}
1,6838978,2019-11-30T12:49:30+02:00,Tartu ärinõuandla andis välja Hea Tegu auhinnad,0.0,0,22,{'Tartu Postimees'}
2,6838938,2019-11-30T11:08:41+02:00,Jalgrattur pööras sõiduautole ette ja sai viga,0.0,0,60,{'Tartu Postimees'}
3,6838937,2019-11-30T11:04:54+02:00,Vales kohas vasakpööret sooritanud autojuht põ...,1.0,0,121,{'Tartu Postimees'}
4,6838618,2019-11-29T19:04:38+02:00,Galerii: Toomas Asser sai ülikooli muuseumi pü...,73.0,0,1425,{'Tartu Postimees'}

In [9]:
titles = data.title.tolist()
titles = [str(i) for i in titles]

In [10]:
from nltk.collocations import BigramCollocationFinder
from nltk import word_tokenize
bigram_measures = nltk.collocations.BigramAssocMeasures()

finder = BigramCollocationFinder.from_words(word_tokenize(titles[0]))

In [14]:

for k, v in finder.ngram_fd.items():
    print(str(k) + str(v))

('Tänavatantsijad', 'tõid')1
('tõid', 'Leedu')1
('Leedu', 'võistluselt')1
('võistluselt', 'Tartusse')1
('Tartusse', 'topeltvõidu')1